@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scrollbar Styles for WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 20px; /* Width of the vertical scrollbar */
  height: 20px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded edges for the thumb */
  border: 2px solid transparent; /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.no-scroll{
  overflow: hidden;
}

/* Scrollbar Styles for Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

@include respond-to(laptop) {
  html {
    font-size: 12px; // Reduces the base font size for laptop screens
  }
}

@include respond-to(tablet) {
  html {
    font-size: 10px; // Reduces the base font size for laptop screens
  }
}



