.carousel{
    width: clamp(80px, 90%, 1000px);
    margin: auto;
    position: relative;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 33%;

    &__image-section{
        position: relative;
    }

    &__viewport{
        overflow: hidden;
    }

    &__container{
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }

    &__slide{
        transform: translate3d(0, 0, 0);
        flex: 0 0 var(--slide-size);
        min-width: 0;
        padding-left: var(--slide-spacing);
    
        position: relative;
        @include flex-center($gap: 0px);
        
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__slide__window{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        height: auto;
        width: 80%;
        filter: drop-shadow(-5px 8px 5px rgba(0, 0, 0, 0.6));
        object-fit: cover;
        cursor: pointer;
        user-select: none;
    }

    &__slide__img{
        border-radius: 1.8rem;
        display: block;
        height: var(--slide-height);
        object-fit: cover;
        user-select: none;
    }

    &__parallax{
        border-radius: 1.8rem;
        height: 60%;
        overflow: hidden;
        cursor: pointer;
        width: 60%;
        @include flex-center();
    }

    &__parallax__layer{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    &__parallax__img{
        max-width: none;
        flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
        object-fit: cover;
        cursor: pointer;
        width: 60%;
    }

    &__buttons{
        @include flex-center($justify: space-between, $gap: 0px);
        position: absolute;
        top: 50%;
        width: calc(100% + 100px);
        margin: 0px auto;
        transform: translateY(-50%) translateX(-50px);
        user-select: none;
        pointer-events: none;
    }

    &__button{
        @include flex-center($gap: 0px);
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        pointer-events: all;
    }

    &__slide-details{
        margin-top: 10px;
        @include flex-center($direction: column, $gap: 5px);

        h4 {
            @include titleFont($weight: Bold);
            font-size: 1.5rem;
            color: $white-color;
            text-align: center;
            line-height: 1.5;

            height: 2.25rem;

            display: -webkit-box;             /* Required for the ellipsis effect */
            -webkit-line-clamp: 1;            /* Limits the text to 4 lines */
            -webkit-box-orient: vertical;     /* Specifies the box layout as vertical */
            overflow: hidden;                 /* Hides the overflowing content */
            text-overflow: ellipsis; 

            /* Standard property for better compatibility */
            display: box;                     /* Box display for older browsers */
            line-clamp: 1;                    /* Non-prefixed line-clamp */
            box-orient: vertical;  
        }

        p {
            @include bodyFont($weight: Regular);
            color: $white-color;
            width: 33%;
            text-align: center;
            line-height: 1.5;
            height: 6rem;

            display: -webkit-box;             /* Required for the ellipsis effect */
            -webkit-line-clamp: 4;            /* Limits the text to 4 lines */
            -webkit-box-orient: vertical;     /* Specifies the box layout as vertical */
            overflow: hidden;                 /* Hides the overflowing content */
            text-overflow: ellipsis; 

            /* Standard property for better compatibility */
            display: box;                     /* Box display for older browsers */
            line-clamp: 4;                    /* Non-prefixed line-clamp */
            box-orient: vertical;  
        }
    }

    &__slide__dialog{
        --border-radius: 15px;

        width: clamp(80px, 80vw, 600px);
        height: clamp(80px, 80svh, 600px);

        position: relative;
    
        .p-dialog-header{
            background-image: url('/ark-base.png');
            background-size: 100% 200%;
            background-position: top center;
            border-radius: var(--border-radius) var(--border-radius) 0px 0px;
            z-index: 3;
            box-sizing: border-box;
            padding-right: 10px;
            height: 30px;
        }

        .p-dialog-content{
            background-image: url('/ark-base.png');
            background-size: 100% auto;
            background-repeat: repeat-y;
            background-position: top center;
            border-radius: 0px 0px var(--border-radius) var(--border-radius);
            box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
        
            box-sizing: border-box;
            padding: 5%;

            @include flex-center($direction: column, $justify: flex-start);
        }

        .p-dialog-header-icon{
            color: $white-color;
            margin-top: 50%;
            height: 15px;
            width: 15px;

            svg{
                height: 15px;
                width: 15px;
            }

            &:hover{
                background-color: transparent;
                animation: ring-bell 0.5s ease-in-out; // Trigger the animation on hover
            }
        }

        &__image{
            width: 100%;
            height: 50%;
            object-fit: cover;
            border-radius: var(--border-radius);
            user-select: none;

            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
        }

        .carousel__slide-details{
            p{
                width: 90%;
                height: auto;

                display: -webkit-box;             /* Required for the ellipsis effect */
                -webkit-line-clamp: 20;            /* Limits the text to 4 lines */
                -webkit-box-orient: vertical;     /* Specifies the box layout as vertical */
                overflow: hidden;                 /* Hides the overflowing content */
                text-overflow: ellipsis; 

                /* Standard property for better compatibility */
                display: box;                     /* Box display for older browsers */
                line-clamp: 20;                    /* Non-prefixed line-clamp */
                box-orient: vertical; 
            }
        }

        &__lights{
            @include flex-center($justify: space-around);
            width: 100%;
            height: 5px;

            position: absolute;
            top: 15%;

            @include respond-to(mobile){
                top: 12%;
            }
        }

        &__light__container{
            overflow: hidden;
            flex-grow: 1;
            height: 160px;
            @include flex-center($align: flex-start);
        }

        &__light{
            background-color: transparent;
            height: 5px;
            width: 5px;
            border-radius: 5px;
            /* Adjusted box-shadow for a smooth, downward light effect */
            box-shadow: 0 20px 40px 30px rgba(255, 237, 201, 0.6); /* Stronger glow near the element */
               
            @include respond-to(mobile){
                box-shadow: 0 20px 25px 15px rgba(255, 237, 201, 0.6); /* Stronger glow near the element */
            }
        }
    }

    @include respond-to(laptop){
        width: clamp(80px, 80%, 900px);
    }

    @include respond-to(mobile){
        width: clamp(80px, 60%, 900px);

        --slide-size: 90%;
        --slide-spacing: 40px;
        --slide-height: 22rem;

        &__slide-details{
            p{
                width: 90%;
            }
        }

        &__slide__dialog{ 
            width: clamp(80px, 95vw, 600px);
            height: clamp(80px, 95svh, 800px);
        }
    
    }
}

// Keyframes for the ringing bell animation
@keyframes ring-bell {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-15deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}