.navbar {

    @include flex-center($direction: row, $justify: flex-start);
    background-color: rgba(250, 249, 246, 0.95);
    height: fit-content;
    width: clamp(80px, 80%, 900px);
    margin: 0 auto; 
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed; 
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    box-shadow: 0px 4px 7.6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    &__logo{
        width: clamp(60px, 4vw, 110px);
        height: auto;
        cursor: pointer;
    }

    &__items{
        @include flex-center($direction: row, $gap: 30px);
        @include titleFont($weight: SemiBold);
        font-size: 0.9rem;
        list-style: none; 
        padding: 0px 30px;
        box-sizing: border-box;
        margin: 0; 

        li{
            text-wrap: nowrap;
            cursor: pointer;

            transition: color 0.3s ease; 

            &:hover {
                color: $primary-color; 
            }
        }

        &--dialog{
            flex-direction: column;
            display: flex !important;
            align-items: flex-start;
            gap: 30px !important;
        }
    }

    &__item{
        &--dialog{
            @include flex-center();
            font-size: 1.5rem;
            color: $white-color;
        }
    }

    &__buttons{
        @include flex-center($direction: row, $gap: 15px);
        margin-left: auto;
    }

    &__burger-menu{
        display: none;

        &__button{
            background-color: transparent;

            &:hover{
                background-color: transparent;
            }
        }
    }

    &__dialog{
        height: 100svh !important;
        width: 300px;
        max-height: 100svh;
        border-radius: 0px 15px 15px 0px;
        overflow: hidden;

        .p-dialog-header{
            background-image: url('/ark-base.png');
            background-size: 100% 200%;
            background-position: top center;
            border-radius: var(--border-radius) var(--border-radius) 0px 0px;
            z-index: 3;

            box-sizing: border-box;
            padding-right: 10px;
            height: 30px;
        }

        .p-dialog-content{
            height: 100svh;
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background-image: url('/ark-base.png');
            background-size: 100% auto;
            background-repeat: repeat-y;
            background-position: top center;

            box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
        }

        .p-dialog-header-icon{
            color: $white-color;
            margin-top: 50%;
            height: 15px;
            width: 15px;

            svg{
                height: 15px;
                width: 15px;
            }

            &:hover{
                background-color: transparent;
                animation: ring-bell 0.5s ease-in-out; // Trigger the animation on hover
            }
        }

        &__footer{
            @include flex-center($direction: column);

            hr{
                width: 100%;
            }

            &__buttons{
                @include flex-center($direction: row);
            }
        }
    }

    @include respond-to(laptop){
        width: calc(100% - 20px);

        &__items{
            gap: 20px;
            padding: 0px 10px;
        }

        &__buttons{
            gap: 5px;
        }
    }

    @include respond-to(tablet){
        background-color: $white-color;

        justify-content: space-between;

        &__items, &__buttons{
            display: none;
        }

        &__burger-menu{
            display: contents;
        }
    }

    @include respond-to(mobile){

        
    }
}

.p-dialog-mask{
    height: svh;
}