// Mixin for titleFont (Poppins)
@mixin titleFont($weight: 400) {
  font-family: "Poppins", sans-serif;
  font-weight: map-get($font-weights, $weight);
  line-height: 1;
  font-size: 1.2rem;
  user-select: none;
}

// Mixin for bodyFont (Open Sans)
@mixin bodyFont($weight: 400) {
  font-family: "Open Sans", sans-serif;
  font-weight: map-get($font-weights, $weight);
  line-height: 1;
  font-size: 1rem;
  user-select: none;
}

// Mixin for bodyFont (Open Sans)
@mixin fancyFont($weight: 400) {
  font-family: "Playball", cursive;
  font-weight: map-get($font-weights, $weight);
  line-height: 1;
  font-size: 1rem;
  user-select: none;
}

// Flex center
@mixin flex-center($direction: row, $justify: center, $align: center, $wrap: nowrap, $gap: 10px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

// Font weight map for both fonts
$font-weights: (
  "Thin": 100,
  "ExtraLight": 200,
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
  "ExtraBold": 800,
  "Black": 900,
);

// Mixin for media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $tablet-breakpoint) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (max-width: $laptop-breakpoint) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: $desktop-breakpoint) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (max-width: $large-desktop-breakpoint) {
      @content;
    }
  }
}

