$primary-color: #f58521;
$primary-color-lt: #ff8922;
$secondary-color: #2e8b57;
$secondary-color-lt: #36a365;
$white-color: #faf9f6;
$black-color: #262626;
$gray-color: #3b3b3b;
$rotary-blue-color: #02359e;
$wave-blue-color: #073c9a;
$rotary-orange-color: #f7a81b;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1200px;
$large-desktop-breakpoint: 1440px;

$scrollbar-width: 10px;
